{% extends "base.html" %}
{% block title %} Connexion {% endblock %}
{% block content %}
    <article>
        <h1>Se connecter</h1>
        
        {%if error %}
            <p><strong>Utilisateur inconnu ou mauvais mot de passe</strong></p>
        {%endif%}
        
        {%if user.is_authenticated %}
            Vous etes connecte, {{user.username}} ! <br/>
            <a href="{% url 'deconnexion' %}">Deconnexion</a>
        {%else%}
        <form method="post" action="{% url "connexion" %}">
            {%csrf_token%}
            {{form.as_p}}
            <input type="submit" value="Se connecter"/>
        </form>
        {%endif%}
        
    </article>
{% endblock %}